* {
  box-sizing: border-box;
}

html, body {
  width: 300px;
}

button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
  border-radius: 5px;
}

h1 {
  padding-top: 30px;
}

.text-center {
  text-align: center;
}

.mb-3 { margin-bottom: 30px !important; }
.mb-2 { margin-bottom: 20px !important; }
.mb-1 { margin-bottom: 10px !important; }
.mb-0 { margin-bottom: 5px !important; }

.w-50 { width: 50%; }

.btn {
  margin: 5px 5px;
}

.btn-success:hover {
  background-color: #92f4a3ff;
}

.btn-success {
  background-color: #92f4a399;
  border: solid 0px;
}

.btn-outline-primary.active {
  background-color: #67a3ff;
  color: white;
}

.btn-outline-primary:hover {
  color: #2e5796;
  border: solid 1px #2e5796;
}

.btn-outline-primary {
  background-color: white;
  color: #67a3ff;
  border: solid 1px #67a3ff;
}
